rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /habits/{habit} {
      // Allow users to create habits if they assign it to themselves
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      
      // Allow users to read, update, delete only their own habits
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }
  }
}
